<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/car_details.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row m-0" id="container">
            <div class="col-lg-7 pb-5 pe-lg-5">
                <div class="col m-0 bg-light" id="details">
                    <div class="col-md-4 col-6 ps-30 pe-0 my-4">
                        <p class="text-muted">Brand</p>
                        <p class="h5 m-0">BMW</p>
                    </div>
                    <div class="col-md-4 col-6  ps-30 my-4">
                        <p class="text-muted">Model</p>
                        <p class="h5 m-0">m3</p>
                    </div>
                    <div class="col-md-4 col-6  ps-30 my-4">
                        <p class="text-muted">Transmission</p>
                        <p class="h5 m-0">Manual</p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Drive unit</p>
                        <p class="h5 m-0">Front</p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Color</p>
                        <p class="h5 m-0">White</p>
                    </div>
                    <div class="col-md-4 col-6 ps-30 my-4">
                        <p class="text-muted">Daily Price</p>
                        <p class="h5 m-0">150$</p>
                    </div>
                </div>
                <div class="col" id="body">
                    <!-- TODO: make photo slide show for all the photos the provider uploeaded -->
                    <div class="col-12 p-5" id="photo">
                        <img class="photo"
                            src="https://www.freepnglogos.com/uploads/honda-car-png/honda-car-upcoming-new-honda-cars-india-new-honda-3.png"
                            alt="">
                    </div>
                    <div class="col-lg-5 p-0 ps-lg-4" id="pay_details">
                        <div class="row m-0">
                            <div class="col-12 px-4">
                                <div class="d-flex align-items-end mt-4 mb-2">
                                    <p class="h4 m-0">car name</p>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="textmuted">Renting days</p>
                                    <p class="fs-14 fw-bold">10</p>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="textmuted">daily price</p>
                                    <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign pe-1"></span>1,500</p>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="textmuted">discount</p>
                                    <p class="fs-14 fw-bold"><span class="fas fa-dollar-sign pe-1"></span>0%</p>
                                </div>
                                <div class="d-flex justify-content-between mb-3">
                                    <p class="textmuted fw-bold">Total</p>
                                    <div class="d-flex align-text-top ">
                                        <span class="fas fa-dollar-sign mt-1 pe-1 fs-14 "></span><span
                                            class="h4">1,500</span>
                                    </div>
                                </div>
                                <button class="btn btn-dark" type="submit">Book Car</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>