{% extends 'base.html' %}
{% block content%}

<div class="container">
    <a href="/provider_dashboard/">
        <button type="submit" class="btn-outline">My garage</button>
    </a>
    <div class="col" id="form_body">
        <h4>Add New car to list</h4>
        <div class="col car_form">
            <div class="row car_details">
                <form action="/insert_car/" method="post">
                    {% csrf_token %}
                    <div class="row-sm-6">
                        <label for="brand" class="form-label">Car Brand</label>
                        <input type="text" class="form-control" name="brand" id="brand" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Brand is required.
                        </div>
                    </div>
                    <div class="row-sm-6">
                        <label for="model" class="form-label">Model</label>
                        <input type="text" class="form-control" name="model" id="model" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Model is required.
                        </div>
                    </div>
                    <div class="row-6">
                        <label for="production_year" class="form-label">Production year</label>
                        <input type="number" class="form-control" name="production_year" id="production_year" placeholder="" required>
                        <div class="invalid-feedback">
                            Production Year is required.
                        </div>
                    </div>
                    <div class="row-6">
                        <label for="plate_number" class="form-label">Plate Number</label>
                        <input type="number" class="form-control" name="plate_number" id="production_year" placeholder="" required>
                        <div class="invalid-feedback">
                            Production Year is required.
                        </div>
                    </div>
                    <button class="btn btn-dark" type="submit">Add Car</button>
                </form>
            </div>
                <!-- <div class="row-6">
                    <label for="" class="form-label">Car insurance</label>
                    <input type="file" class="form-control" id="car_insurance" placeholder="" required>
                    <div class="invalid-feedback">
                        Car insurance Year is required.
                    </div>
                </div>
                <div class="row-6">
                    <label for="" class="form-label">Car Permit</label>
                    <input type="file" class="form-control" id="car_permit" placeholder="" required>
                    <div class="invalid-feedback">
                        Car Permit Year is required.
                    </div>
                </div>
            </div>
            <article class="card-group-item car_utilities">
                <header class="card-header">
                    <h6 class="title">Car Utilities</h6>
                </header>
                <form>
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                        Full option
                        </span>
                    </label> 
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                        loud speakers
                        </span>
                    </label>
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                        Automatic
                        </span>
                    </label> 
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                        Leather seats 
                        </span>
                    </label>
                    <label class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-label">
                        Brand new
                        </span>
                    </label>  form-check.//
                </form> -->
            </article>
        
    </div>
    <div class="all_cars">
        <h5>All my cars</h5>
        <table class="table">
            <thead class="position">
                <tr>
                    <th scope="col">Car</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="display">
                    <td scope="row" name="tree_id"><span>brand</span></td>
                    <td>
                        <input type="hidden" name="tree_id" value="{{ tree.id }}">
                        <a href="#">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}