.container {
    display: flex;
}

.filter_side_bar {
    width: 25%;
    right: 10px;
}

.car_pic {
    width: 80px;
    height: 80px;
}

.search_result {
    width: 70%;
}

.sorting {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.car_box {
    /* width: 400px; */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.btn {
    height: 50px;
}